body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1.5rem;
    display: grid;
    /* gap: 1.5em; */
    }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: center;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    /* text-align: center; */
  }

  .align {
    width: auto;
    height: auto;
    margin: 2rem;
    padding: 10px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    order: -1;
  }
  
  .emojis {
    display: grid;
    gap: 1.5em;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
  }